<%- include('../partials/header.ejs') %>
<div class='container'>
<form action='/product/<%= collection._id %>/comments' method='POST'>

      <label  class="form-label">Comment</label>
      <input type="text" class="form-control" name='comment[text]' placeholder='Comment'>
      
      

    </div>

    <div class="container"><button type="submit" class="btn btn-primary">Submit</button></div>
      <!-- <a href='/product'>Go back</a> -->
  </form>
</div>

<%- include('../partials/footer.ejs') %>