<%- include('partials/header.ejs') %>


<h1 style="text-align: center;">About Us</h1>
<p style="text-align: center;">ร้านเราก็อปคนอื่นจริงไม่ได้ตั้งใจทำ คนที่ทำก็ปั่นจริงๆ ไม่ได้จ้างคนอื่นมาทำแทน *0*</p>



<%- include('partials/footer.ejs') %>